@font-face {
  font-family: 'Gilroy';
  src: url('../gilroy/Gilroy-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../gilroy/Gilroy-SemiBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../gilroy/Gilroy-Bold.ttf');
  font-weight: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  color: #212529;
}

.schedule-container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/* Schedule Section */
.schedule {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 15px;
  margin: 30px 0;
  border-radius: 8px;
}

.schedule-logo {
  text-align: center;
  margin-bottom: 25px;
}

.schedule-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-description,
.schedule-calender {
  flex: 1 1 33.333%;
  padding: 0 20px;
}

.schedule-description {
  border-right: 1px solid #dddddd;
}

.schedule-content {
  margin-top: 15px;
}

.schedule-item {
  display: flex;
  margin-bottom: 15px;
}

.schedule-title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  width: 100px;
  margin-right: 10px;
}

.schedule-desc {
  display: block;
  flex: 1;
  font-weight: 500;
}

.schedule-link {
  color: #004dff;
  text-decoration: none;
  display: block;
}

.schedule-service-title {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.schedule-service-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #004dff;
  width: 30px;
  height: 3px;
}

.schedule-socials {
  display: flex;
}

.schedule-socials-link {
  display: inline-block;
  color: #004dff;
  margin-right: 15px;
}

.schedule-socials-link:hover {
  color: #777777;
}

.select-field {
  margin-top: 25px;
}

.scheduled-field-title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 5px;
}

.service-type-title,
.service-time-title,
.service-time-price {
  font-weight: 700;
}

.select {
  position: relative;
  margin-bottom: 25px;
  width: 100%;
  border: 1px solid #eeeeee;
}

.select .selectBtn {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.select .selectBtn:after {
  content: '';
  position: absolute;
  top: 45%;
  right: 15px;
  width: 8px;
  height: 8px;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #212529;
  border-bottom: 2px solid #212529;
  transition: 0.2s ease;
}

.select .selectBtn.toggle {
  border-radius: 5px 5px 0 0;
}

.select .selectBtn.toggle:after {
  -webkit-transform: translateY(-50%) rotate(-135deg);
  transform: translateY(-50%) rotate(-135deg);
}

.select .selectDropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  background: #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transform-origin: top center;
  transform-origin: top center;
  visibility: hidden;
  transition: 0.2s ease;
  border: 1px solid #eeeeee;
}

.select .selectDropdown .option {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
  opacity: 1;
  color: #004dff;
}

.service-type-title {
  color: #212529;
  user-select: none;
  pointer-events: none;
}

.service-type-text {
  color: #004dff;
  user-select: none;
  pointer-events: none;
}

.select .selectDropdown .option:hover {
  background: #004dff;
  color: #ffffff;
}

.select .selectDropdown .option:hover .service-type-title,
.select .selectDropdown .option:hover .service-type-text {
  color: #ffffff;
}

.select .selectDropdown.toggle {
  visibility: visible;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  z-index: 99;
}

.schedule-desc-btn {
  background-color: #004dff;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.time-week {
  display: flex;
}

.days {
  margin-right: 50px;
}

.days-title,
.hours-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.days-text,
.hours-text {
  margin-bottom: 5px;
}

.dhx_calendar {
  border: 1px solid #eeeeee;
  width: 100% !important;
  border-radius: 5px;
}

.today-date {
  color: #004dff;
}

.select-date {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
}

.select-time {
  width: 100%;
}

#available-times-div {
  height: 258px;
  overflow-y: auto;
  padding: 0 5px;
}

#available-times-div::-webkit-scrollbar {
  width: 6px;
}

#available-times-div::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

#available-times-div::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #004dff;
}

.time-slot {
  display: flex;
}

.time-btn {
  font-family: inherit;
  flex: 1;
  border: 1px solid #eeeeee;
  color: #004dff;
  background-color: #ffffff;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}

.time-btn:hover {
  border-width: 2px;
  border-color: #004dff;
}

.time-btn:focus {
  background-color: #777777;
  color: #ffffff;
  outline: none;
  border: none;
}

.time-btn:focus:hover {
  border: none;
}

.confirm-btn {
  font-family: inherit;
  flex: 1;
  width: 100%;
  margin-left: 5px;
  background-color: #004dff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  height: 40px;
  cursor: pointer;
  display: none;
}

.confirm-btn.active {
  display: block;
}

.confirm-btn:hover {
  opacity: 0.8;
}

.confirm-btn:focus {
  outline: 0;
  opacity: 0.8;
}

/* Footer */

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.footer-text {
  font-size: 28px;
  font-weight: 800;
}

.footer-text-sp {
  color: #004dff;
}

.footer-logo-link > img {
  display: inline-block;
  width: 180px;
  margin-left: 8px;
  object-fit: cover;
}

/*------------------ Schedule-Customer-Page ------------------*/
.schedule-customer {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 15px;
  margin: 30px 0;
  border-radius: 8px;
}

.schedule-customer-flex {
  display: flex;
  justify-content: space-between;
}

.schedule-info,
.schedule-service {
  padding: 0 20px;
}

.schedule-info {
  width: 35%;
}

.schedule-service {
  width: 65%;
  border-left: 1px solid #dddddd;
}

.schedule-info-data {
  padding: 8px;
  border-top: 2px solid #004dff;
  border-radius: 8px;
  margin-top: 25px;
}

.schedule-info-item {
  display: flex;
  margin-bottom: 5px;
}

.schedule-info-title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  width: 100px;
  margin-right: 10px;
}

.schedule-info-text {
  display: block;
  flex: 1;
  font-weight: 500;
}

.schedule-form {
  margin-top: 25px;
}

.form-field {
  margin-bottom: 15px;
}

.form-field .input-label {
  display: block;
  padding-bottom: 2.5px;
  font-size: 16px;
  font-weight: 700;
}

.form-field .input-text {
  display: block;
  width: 100%;
  font-family: inherit;
  border: 2px solid #dddddd;
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
}

.form-field > textarea {
  height: 120px;
}

.iti {
  display: block;
}

.iti__flag {
  background-image: url('../images/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('../images/flags@2x.png');
  }
}

.input-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.checkbox-label {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
  accent-color: #004dff;
}

.tos-link {
  display: inline-block;
  color: #004dff;
  text-decoration: none;
}

.btn-submit {
  font-family: inherit;
  display: block;
  width: 100%;
  margin-top: 25px;
  background-color: #004dff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  height: 40px;
  cursor: pointer;
}

/* -------------------Confirmation-Page------------------- */
.customer-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.customer {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 25px;
  margin: 30px 0;
  border-radius: 8px;
}

.customer-status-table {
  border: 1px solid #dddddd;
  margin-top: 25px;
  position: relative;
}

.customer-status-table::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: #dddddd;
  height: 100%;
}

.customer-status-data {
  border-bottom: 1px solid #dddddd;
  display: flex;
}

.customer-status-data:last-child {
  border-bottom: 0;
}

.customer-status-title,
.customer-status-desc {
  width: 50%;
  padding: 8px;
}

.customer-status-title {
  font-size: 16px;
  font-weight: 700;
}

.customer-services-btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn-services {
  display: inline-block;
  margin-top: 25px;
  margin-right: 25px;
  flex: 1 1 33.333%;
  padding: 10px;
  font-family: inherit;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #004dff;
  color: #ffffff;
  text-transform: capitalize;
}

.btn-services:nth-child(2),
.btn-services:nth-child(4) {
  margin-right: 0;
}

.btn-services-app {
  background-color: #c92626;
}

.btn-services-arr {
  background-color: #257025;
}

/* Media Queries */

@media (max-width: 1050px) {
  .schedule-info {
    width: 45%;
  }

  .schedule-service {
    width: 55%;
  }
}

@media (max-width: 992px) {
  .schedule-flex {
    flex-direction: column;
  }

  .schedule-description {
    margin-bottom: 35px;
    border-right: 0;
  }

  .schedule-calender {
    width: 100%;
  }

  .schedule-customer-flex {
    flex-direction: column;
  }

  .schedule-info {
    width: 100%;
  }

  .schedule-service {
    width: 100%;
    margin-top: 25px;
    border-left: 0;
  }
}

@media (max-width: 600px) {
  .customer {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .select-date {
    flex-direction: column;
  }

  .dhx_calendar {
    width: 100% !important;
  }

  .schedule-description,
  .schedule-calender {
    padding: 0 0;
  }

  .select-time {
    margin-top: 25px;
  }

  .schedule-title {
    width: 100px;
  }

  .schedule-info,
  .schedule-service {
    padding: 0 0;
  }

  .btn-services {
    width: 100%;
    flex: 1 1 100%;
    margin-right: 0;
  }

  .customer {
    padding: 15px 5px;
  }

  .footer-text {
    font-size: 24px;
  }

  .footer-logo-link > img {
    width: 150px;
    margin-left: 6px;
  }
}
